<ion-content class="bg-image no-scroll" fullscreen="true">

  <ion-item lines="none">
    <img class="logo" src="/assets/img/icons/iconlogin.png">
  </ion-item>

  <ion-item lines="none">
    <ion-label class="title">REGISTRAR</ion-label>
  </ion-item>

  <ion-col size="12">
    <ion-item-group style="margin-top: -25px;">
      <ion-item lines="none" style="margin-bottom: 20px;">
        <ion-grid *ngIf="vertipo === false" >
          <ion-row>
            <ion-col (click)="tipoderegistro()" style="margin-left: 5px;" size="6">
              <ion-button style="height: 40px;color: white;" fill="solid" expand="block" size="default">
                PERSONA
              </ion-button>
            </ion-col>
            <ion-col (click)="tipoderegistro()" style="margin-left: -10px;" size="6">
              <ion-button style="height: 40px;" fill="outline" expand="block" size="default">
                EMPRESA
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="vertipo === true" >
          <ion-row>
            <ion-col (click)="tipoderegistro()" style="margin-left: 5px;" size="6">
              <ion-button style="height: 40px;" fill="outline" expand="block" size="default">
                PERSONA
              </ion-button>
            </ion-col>
            <ion-col (click)="tipoderegistro()" style="margin-left: -10px;" size="6">
              <ion-button style="height: 40px;color: white;" fill="solid" expand="block" size="default">
                EMPRESA
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div *ngIf="vertipo === false">
        <ion-item>
          <ion-avatar style="height: 120px; width: 120px; display: block; margin: auto;margin-bottom: 20px;">
            <img *ngIf="myphoto ==='' || myphoto === undefined || myphoto === 'undefined'" src="/assets/img/icons/default-avatar.png">
            <img *ngIf="myphoto !==''" src="{{myphoto}}">
          </ion-avatar>
          <ion-fab>
            <ion-fab-button color="dark">
                <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="nombre" placeholder="Nombre(s)" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="apellidos" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register">
          <ion-input [(ngModel)]="email" placeholder="Email" type="email" (change)="correovalido($event)"></ion-input>
        </ion-item>
        <ion-label *ngIf="emailerror === true" class="invalid-feedback ion-text-center" style="color:red">Escribe un correo valido!</ion-label>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="messenger" placeholder="Facebook Messenger" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="whatsapp" maxlength="10" placeholder="Whatsapp para Pedidos" type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register ion-text-center">
          <ion-input #verificarcontra [(ngModel)]="contras" [type]="tipoverificarcontra" clearOnEdit="false" placeholder="Contraseña"></ion-input>
          <button *ngIf="contras !== ''" item-end  class="btn_eye_icon"  (click)="vercontra()" style="background: transparent;font-size: 25px;margin-top: -2%;">
            <ion-icon  [name]="(tipoverificarcontra === 'text')?'eye-off':'eye'"></ion-icon>
          </button>
        </ion-item>
        <ion-item lines="none" class="input-register ion-text-center">
          <ion-input  #repetirverificarcontra [(ngModel)]="contrasCon" [type]="repetirtipoverificarcontra" clearOnEdit="false" placeholder="Verificar contraseña"></ion-input>
          <button *ngIf="contrasCon !== ''" item-end  class="btn_eye_icon"  (click)="vercontrarepetir()" style="background: transparent;font-size: 25px;margin-top: -2%;">
              <ion-icon  [name]="(repetirtipoverificarcontra === 'text')?'eye-off':'eye'"></ion-icon>
          </button>
        </ion-item>
        <ion-item text-wrap>
          <ion-row>
             <ion-col size="2" no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                 <ion-checkbox [(ngModel)]="terminos"></ion-checkbox>
               </ion-item>
             </ion-col>
             <ion-col size="10" no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                <a target="_blank" href="https://orvity.com/public/privacidad">Al hacer clic en registrarse aceptas los términos y condiciones.</a>.
               </ion-item>
             </ion-col>
           </ion-row>
         </ion-item>
      </div>

      <div *ngIf="vertipo === true">
        <ion-item>
          <ion-avatar style="height: 120px; width: 120px; display: block; margin: auto;margin-bottom: 20px;">
            <img *ngIf="myphoto ==='' || myphoto === undefined || myphoto === 'undefined'" src="/assets/img/icons/default-avatar.png">
            <img *ngIf="myphoto !==''" src="{{myphoto}}">
          </ion-avatar>
          <ion-fab>
            <ion-fab-button color="dark">
                <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="nombre" placeholder="Nombre Comercial" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="sucursal" placeholder="Sucursal" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="razon_social" placeholder="Razón Social" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="rfc" placeholder="RFC" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="messenger" placeholder="Facebook Messenger" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="phone" maxlength="10" placeholder="Teléfono" type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-input [(ngModel)]="whatsapp" maxlength="10" placeholder="Whatsapp para Pedidos" type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-label>Actividad</ion-label>
          <ionic-selectable #portComponent  item-content  itemValueField="idAct" itemTextField="NombreAct"
           [items]="EmpresaActi" [canSearch]="true" (onChange)="obteneractividad($event)" searchPlaceholder="Buscar" searchFailText="No hay resultados">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="3">
                  </ion-col>
                  <ion-col size="7">               
                    <ion-title>
                    {{portComponent.label}}
                    </ion-title>
                  </ion-col>
                  <ion-col size="2">
                    <ion-buttons (click)="portComponent.close()">
                      <ion-icon name="close-circle-outline" style="font-size: 25px;"></ion-icon>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas" *ngIf="giro === '73'">
          <ion-input [(ngModel)]="Actividad_Empresa_idAct1" placeholder="Indique cuál" ></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas">
          <ion-label>País</ion-label>
          <ionic-selectable #paiscomponet  item-content  itemValueField="id" itemTextField="name"
           [items]="PaisS" [canSearch]="true" (onChange)="obtenerpaises($event)" searchPlaceholder="Buscar" searchFailText="No hay resultados">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="2">
                  </ion-col>
                  <ion-col size="8">               
                    <ion-title class="ion-text-center">
                    {{paiscomponet.label}}
                    </ion-title>
                  </ion-col>
                  <ion-col size="2">
                    <ion-buttons (click)="paiscomponet.close()">
                      <ion-icon name="close-circle-outline" style="font-size: 25px;"></ion-icon>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas disabled" *ngIf=" pais === ''" >
          <ion-label>Estado</ion-label>
          <ionic-selectable #estadocomponet [(ngModel)]="estado" item-content  itemValueField="id" itemTextField="name"
           [items]="EstadosS" [canSearch]="true" (onChange)="obtenerestado($event)" searchPlaceholder="Buscar" searchFailText="No hay resultados">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="2">
                  </ion-col>
                  <ion-col size="8">               
                    <ion-title class="ion-text-center">
                    {{estadocomponet.label}}
                    </ion-title>
                  </ion-col>
                  <ion-col size="2">
                    <ion-buttons (click)="estadocomponet.close()">
                      <ion-icon name="close-circle-outline" style="font-size: 25px;"></ion-icon>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none" class="input-register mayusculas" *ngIf=" pais !== ''" >
          <ion-label>Estado</ion-label>
          <ionic-selectable #estadocomponet  item-content  itemValueField="id" itemTextField="name"
           [items]="EstadosS" [canSearch]="true" (onChange)="obtenerestado($event)" searchPlaceholder="Buscar" searchFailText="No hay resultados">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="2">
                  </ion-col>
                  <ion-col size="8">               
                    <ion-title class="ion-text-center">
                    {{estadocomponet.label}}
                    </ion-title>
                  </ion-col>
                  <ion-col size="2">
                    <ion-buttons (click)="estadocomponet.close()">
                      <ion-icon name="close-circle-outline" style="font-size: 25px;"></ion-icon>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none" class="input-register">
          <ion-input [(ngModel)]="email" placeholder="Email" type="email" (change)="correovalido($event)"></ion-input>
        </ion-item>
        <ion-label *ngIf="emailerror === true" class="invalid-feedback ion-text-center" style="color:red">Escribe un correo valido!</ion-label>
        <ion-item lines="none" class="input-register ion-text-center">
          <ion-input #verificarcontra [(ngModel)]="contras" [type]="tipoverificarcontra" clearOnEdit="false" placeholder="Contraseña"></ion-input>
          <button *ngIf="contras !== ''" item-end  class="btn_eye_icon"  (click)="vercontra()" style="background: transparent;font-size: 25px;margin-top: -2%;">
            <ion-icon  [name]="(tipoverificarcontra === 'text')?'eye-off':'eye'"></ion-icon>
          </button>
        </ion-item>
        <ion-item lines="none" class="input-register ion-text-center">
          <ion-input  #repetirverificarcontra [(ngModel)]="contrasCon" [type]="repetirtipoverificarcontra" clearOnEdit="false" placeholder="Verificar contraseña"></ion-input>
          <button *ngIf="contrasCon !== ''" item-end  class="btn_eye_icon"  (click)="vercontrarepetir()" style="background: transparent;font-size: 25px;margin-top: -2%;">
              <ion-icon  [name]="(repetirtipoverificarcontra === 'text')?'eye-off':'eye'"></ion-icon>
          </button>
        </ion-item>
        <ion-item text-wrap>
          <ion-row>
             <ion-col size="2" no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                 <ion-checkbox [(ngModel)]="terminos"></ion-checkbox>
               </ion-item>
             </ion-col>
             <ion-col size="10" no-padding no-margin>
               <ion-item no-padding no-margin no-lines>
                <a target="_blank" href="https://orvity.com/public/privacidad">Al hacer clic en registrarse aceptas los términos y condiciones.</a>.
               </ion-item>
             </ion-col>
           </ion-row>
         </ion-item>
      </div>

    </ion-item-group>
  </ion-col>


  <ion-button *ngIf="vertipo === false" fill="outline" expand="block" size="default" [disabled]="nombre === '' || email === '' || terminos === false || emailerror === true">
    Registrarse
  </ion-button>

  <ion-button *ngIf="vertipo === true" fill="outline" expand="block" size="default" [disabled]="nombre === '' || email === '' || terminos === false || emailerror === true">
    Registrarse
  </ion-button>

  <ion-button fill="outline" expand="block" size="default" [routerLink]="['/home']">
    Inicio
  </ion-button>

</ion-content>
