ion-label{
    --background: transparent;
  }
  ion-checkbox{
    background: #FFF;
     border-color : #544ea0 !important;
     --background-checked: #f48030;
     --border-color: #000;
     --border-color-checked :#000;
   }
  ion-item{
    --background: transparent;
  }
  ion-input{
      font-family: Roboto;
      text-align: center;
      --background: transparent;
      --placeholder-color:#261bc0;
      --placeholder-font-weight: bold;
      --padding-top: 0px;
  }
  ion-button{
    margin: 2% 5%;
    height: 50px;
    text-transform: capitalize;
    font-family: RobotoMedium;
    --border-radius: 25px;
    --color: #6f7072;
    --border-width: 3px;
    --border-color: #544ea0;
    --background-activated: #544ea0;
    --color-activated: white;
  }
  ion-fab{
    padding-left: 55%;
    margin-top: 10%;
  }
  .bg-image {
    --background: url('/assets/img/fondo1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .no-scroll .scroll-content {
    overflow: hidden;
  }
  .logo{
    max-width: 100%;
    padding: 10% 10% 5% 10%;
  }
  .title{
    font-family: RobotoMedium;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #6f7072;
  }
  .input-register{
    border: 3px solid #8d8d8d;
    border-radius: 25px;
    width: 80%;
    height: 45px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .mayusculas{
    text-transform: capitalize;
  }
  .ionic-selectable-item-is-selected,.ionic-selectable-item-is-disabled
 {
   .label {
    color:red;
   }
 }
 .disabled {
  pointer-events:none;
  opacity:0.6;
}