// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face{
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../theme/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../theme/fonts/Roboto/Roboto-Light.ttf');
}

:root {
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .usuariopremium{

    border: 3px solid #e8c336;

  }

  .iconopremium{
    margin-top: -25px;
    float: right;
    font-size: 20px;
    color: #e8c336;
  }

  .iconopremiumsobre{
    margin-top: -40px;
    float: right;
    font-size: 30px;
    color: #e8c336;
  }

  .iconopremiumgrupo{
    margin-top: -20px;
    float: right;
    font-size: 15px;
    color: #e8c336;
  }

  .iconopremiumcard{
    margin-top: -30px;
    float: right;
    font-size: 25px;
    color: #e8c336;
  }

  .iconopremiumintera{
    margin-top: -20px;
    float: right;
    font-size: 17px;
    color: #e8c336;
    margin-right: -3px;
  }
  ionic-selectable-modal{
    border-top: 3px solid #f48230;
    border-left: 3px solid #f48230;
    border-right: 3px solid #f48230;
    border-bottom: 3px solid #f48230;
    border-radius: 25px 25px 25px 25px;
    height: 60% !important;
    margin-top: 35% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
//   .alert-input.sc-ion-alert-md {
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     width: 100%;
//     border: 0;
//     background: inherit;
//     font: inherit;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     font-size: 12px!important;
// }
// .alert-input-group.sc-ion-alert-md, .alert-message.sc-ion-alert-md {
//   padding-left: unset;
//   padding-right: unset;
//   -webkit-padding-start: 24px;
//   padding-inline-start: 24px;
//   -webkit-padding-end: 24px;
//   padding-inline-end: 24px;
//   padding-top: 0px!important;
//   padding-bottom: 0px!important;
// }
  /** Pop Over**/
    ion-modal{
      ion-backdrop{
        opacity: .4 !important;
        }
      .modal-wrapper{
        background: transparent !important;
        app-modificarcitaspopover,
        app-modificarserviciopopover,
        app-pedidospopover,
        app-citaspopover,
        app-serviciospopover{
          border-top: 3px solid #f48230;
          border-left: 3px solid #f48230;
          border-right: 3px solid #f48230;
          border-radius: 25px 25px 0px 0px;
          height: 100%;
        }
        app-modificarreservacionespopover,
        app-reservapopover{
          border-top: 3px solid #f48230;
          border-left: 3px solid #f48230;
          border-right: 3px solid #f48230;
          border-radius: 25px 25px 0px 0px;
          height: 100%;
        }
        app-sobrenombremodal,app-modificar-producto{
          height: 90%;
          margin: auto 5%;
          border-top: 3px solid #f48230;
          border-left: 3px solid #f48230;
          border-right: 3px solid #f48230;
          border-bottom: 3px solid #f48230;
          border-radius: 25px 25px 25px 25px;
        }
        app-info-producto{
          height: 90%;
          margin: auto 5%;
          border-top: 3px solid #f48230;
          border-left: 3px solid #f48230;
          border-right: 3px solid #f48230;
          border-bottom: 3px solid #f48230;
          border-radius: 25px 25px 25px 25px;
        }
         app-modalaudio{
            height: 80% !important;
            margin: auto 5% !important;
            border-radius: 20px!important;
            margin-bottom: 20% !important;
          }

        app-cambiarcon{
            height: 43%;
            margin: auto 5%;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-radius: 25px 25px 25px 25px;
        }
      }
    }

    @media (min-height: 412px) and (max-height: 684px){
      ion-modal{
        ion-backdrop{
          opacity: .4 !important;
          }
        .modal-wrapper{
          background: transparent !important;
          app-modal-pedidos-modificar,
          app-pedidosmodal,
          app-modificarcitaspopover,
          app-pedidospopover,
          app-citaspopover{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 70%;
            margin-top: auto;
          }
          app-modificarserviciopopover,
          app-modificarreservacionespopover,
          app-reservapopover,
          app-serviciospopover,app-crecerplan{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 76%;
            margin-top: auto;
          }
          app-crecerplan{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 25%;
            margin-top: auto;
            margin-bottom: 0px;
          }
          app-anuncio,app-perfil,app-prueba,app-pickervalores,app-editar{
            height: 81% !important;
            margin: auto 4% !important;
            margin-bottom: 18% !important;
          }
          app-modalaudio{
            height: 80% !important;
            margin: auto 5% !important;
            border-radius: 20px!important;
            margin-bottom: 20% !important;
          }
          app-modalaudiogrupo{
            height: 80% !important;
            margin: auto 5% !important;
            border-radius: 20px!important;
            margin-bottom: 20% !important;
          }
          app-perfilgenerico{
            height: 85%;
            margin: 95px 0px;
            background: white;
            ion-backdrop{
              opacity: 1 !important;
            }
          }
          app-pedidoscontadormodal{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 36%;
            margin-top: auto;
          }
          app-contador-modificar{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 30%;
            margin-top: auto;
          }
          app-contactosygrupos{
            border: 3px solid #f48230;
            border-radius: 25px;
            height: 50%;
            margin: auto 20px;
            background: white;
          }
          app-info-user,app-infogrupo,app-modificarinfogrupo,app-modal-mod-puesto{
            height: 55%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-agregarusuarios{
            height: 75%;
            margin-top: 100PX;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 0px 0px 0px 0px;
            background: white;
          }
          app-modal-mod-puesto{
            height: 68%;
            margin: 100px 5% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-interaccionusuarios{
            height: 45%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-fechaactividad{
            height: 60%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-menu-empresa{
            height: 60%;
            margin-top: auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            -webkit-border-radius: 25px 25px 0px 0px;
          }
          app-modal-imgperf{
            // border-radius: 20px;
            margin: auto 5%;
            height: 60%;
          }
          app-sobrenombremodal,app-modificar-producto{
            height: 70%;
            margin: auto 5%;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
          }

          app-info-producto{
            height: 65%;
            margin: auto 5%;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
          }

          app-cambiarcon{
            height: 43%;
            margin: auto 5%;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-radius: 25px 25px 25px 25px;
          }

          app-crearempresagrupospopover{
            height: 75%;
            margin-top: auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            -webkit-border-radius: 25px 25px 0px 0px;
          }
        }
      }
    }

    @media (min-height: 685px) and (max-height: 1280px){
      ion-modal{
        ion-backdrop{
          opacity: .4 !important;
          }
        .modal-wrapper{
          background: transparent !important;
          app-modal-pedidos-modificar,
          app-pedidosmodal,
          app-modificarcitaspopover,
          app-pedidospopover,
          app-citaspopover{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 70%;
            margin-top: auto;
          }
          app-modificarserviciopopover,
          app-modificarreservacionespopover,
          app-reservapopover,
          app-serviciospopover,app-crecerplan{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 76%;
            margin-top: auto;
          }
          app-crecerplan{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 25%;
            margin-top: auto;
            margin-bottom: 0px;
          }
          app-anuncio,app-perfil,app-prueba,app-pickervalores,app-editar{
            height: 77% !important;
            margin: auto 4% !important;
            margin-bottom: 20% !important;
          }
          app-perfilgenerico{
            height: 90%;
            margin: 95px 0px;
            background: white;
            ion-backdrop{
              opacity: 1 !important;
            }
          }
          app-pedidoscontadormodal{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 36%;
            margin-top: auto;
          }
          app-contador-modificar{
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            height: 30%;
            margin-top: auto;
          }
          app-contactosygrupos{
            border: 3px solid #f48230;
            border-radius: 25px;
            height: 50%;
            margin: auto 20px;
            background: white;
          }
          app-info-user,app-infogrupo,app-modificarinfogrupo,app-modal-mod-puesto{
            height: 55%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-agregarusuarios{
            height: 75%;
            margin-top: 100px;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 0px 0px 0px 0px;
            background: white;
          }
          app-modal-mod-puesto{
            height: 68%;
            margin: 100px 5% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-interaccionusuarios{
            height: 45%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-fechaactividad{
            height: 60%;
            margin: 150px 10% auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
            background: white;
          }
          app-menu-empresa{
            height: 60%;
            margin-top: auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            -webkit-border-radius: 25px 25px 0px 0px;
          }
          app-modal-imgperf{
            // border-radius: 20px;
            margin: auto 5%;
            height: 60%;
          }
          app-sobrenombremodal,app-modificar-producto{
            height: 80%;
            margin: auto 5%;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
          }

          app-info-producto{
            height: 65%;
            margin: auto 5%;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-bottom: 3px solid #f48230;
            border-radius: 25px 25px 25px 25px;
          }

          app-cambiarcon{
            height: 43%;
            margin: auto 5%;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-radius: 25px 25px 25px 25px;
          }

          app-crearempresagrupospopover{
            height: 75%;
            margin-top: auto;
            border-top: 3px solid #f48230;
            border-left: 3px solid #f48230;
            border-right: 3px solid #f48230;
            border-radius: 25px 25px 0px 0px;
            -webkit-border-radius: 25px 25px 0px 0px;
          }
        }
      }
    }

    ion-popover{
      ion-backdrop{
      opacity: 0 !important;
      }
    }
    .pop-over-mini-menu{
      .popover-wrapper{
        .popover-content{
        box-shadow: 0px 0px 15px -5px;
        width:200px;
        top: 65px!important;
        }
      }
    }
    .pop-over-multimedia{
      .popover-wrapper{
        .popover-content{
        width:100%;
        bottom: 0;
        height: 200px;
        }
      }
    }
    app-popgrupo{

    }
    app-chatinter{
      ion-content{
        background-image: url('../assets/orvitywallpaper.png');
        background-size: cover;
      }
    }
    app-chatgruposinter{

      ion-content{
        background-image: url('../assets/orvitywallpaper.png');
        background-size: cover;
      }
    }
    ion-router-outlet{
      app-chatinter{
        ion-content{
          .main{
            background-image: url('../assets/orvitywallpaper.png');
            background-size: cover;
          }
        }
      }
    }
    ion-router-outlet{
      app-servicios,
      app-citas,
      app-reservaciones,
      app-pedidos,
      app-info-empresa,
      app-menu-empresa,
      app-crearempresagrupospopover{
        background: white;
      }
    }
    .action-sheet-group.sc-ion-action-sheet-md:last-child {
      padding-bottom: 0;
      background: white;
      --color: red;
      font-weight: bold;
      border-left: 3px solid #f48230;
    border-right: 3px solid #f48230;
  }
  .action-sheet-group.sc-ion-action-sheet-md:first-child {
    padding-top: 0;
    border-radius: 15px 15px 0px 0px;
    border-top: 3px solid #f48230;
    border-left: 3px solid #f48230;
    border-right: 3px solid #f48230;
}
.action-sheet-button.sc-ion-action-sheet-md {
  font-weight: bold;
}
.action-sheet-button-inner.sc-ion-action-sheet-md {
  justify-content: center;
}

.sc-ion-action-sheet-md-h {
  max-height: 38%;
  margin-top: auto;
}

.action-sheet-title.sc-ion-action-sheet-md {
  color: #000000;
  font-size: 16px;
  text-align: start;
  font-weight: 900;
  background: #ffffff;
  box-shadow: 0px -10px 20px 0px black;
}
.action-sheet-button.sc-ion-action-sheet-md {
  color: var(--color,var(--ion-color-step-850,#f48230));

}

.alert-radio-label.sc-ion-alert-md {
  padding-left: 52px;
  -ms-flex: 1;
  flex: 1;
  font-size: 13px;
  white-space: unset;
  font-weight: bold;
  font-family: Roboto;
  }

ion-action-sheet{
  ion-backdrop{
    opacity: 0 !important;
  }
}
  /** fonts **/
  --ion-font-family: 'Roboto','RobotoMedium',sans-serif !important;
  font-family: 'Roboto','RobotoMedium',sans-serif !important;

  /** primary **/
  --ion-color-primary: #f48030;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #f48230;
  --ion-color-primary-tint: #ff9523;

  /** secondary **/
  --ion-color-secondary: #0bb8cc;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #0000AA;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #0ec254;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}