<ion-content class="bg-image no-scroll" fullscreen="true">

  <ion-item lines="none">
    <img class="logo" src="/assets/img/icons/iconlogin.png">
  </ion-item>
  <ion-item lines="none">
    <ion-label class="title">INICIAR SESIÓN</ion-label>
  </ion-item>
  <form (ngSubmit)="logForm()">

    <ion-item lines="none" style="height: 35px">
      <ion-label class="subtitle">Email / Tag</ion-label>
    </ion-item>
    <ion-item lines="none">
      <img src="/assets/img/icons/usercon.png" height="45">
      <ion-input (ionFocus)="Espaciosdx($event)" (ionBlur)="Espaciosdx($event)" (ionInput)="Espaciosdx($event)" (ionChange)="Espaciosdx($event)" type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="correo"
        name='email'></ion-input>
    </ion-item>
    <div class="decor"></div>

    <ion-item lines="none" style="height: 35px">
      <ion-label class="subtitle">Contraseña</ion-label>
    </ion-item>
    <ion-item lines="none">
      <img src="/assets/img/icons/blockcon.png" height="45">
      <ion-input #vercontra  [type]="tipodetexto" [(ngModel)]="contra" name='password' required></ion-input>
      <button *ngIf="contra !== ''" class="btn_eye_icon"  (click)="metodovercontra()" style="background: transparent;font-size: 25px;margin-top: 7%;margin-right: 10%;">
        <ion-icon  [name]="iconpassword"></ion-icon>
      </button>
    </ion-item>
    <div class="decor"></div>

    <ion-item lines="none" >

      <ion-label class="subtitle" text-center>Olvidé mi contraseña</ion-label>

    </ion-item>

    <ion-button fill="outline" expand="block" size="default" type="submit" [disabled]="correo === '' || contra === '' " style="margin-top: 8px;" [routerLink]="['/tabs/catalogo']" >
      Iniciar sesión
    </ion-button>

    <ion-button fill="outline" expand="block" size="default" [routerLink]="['/home']" >
      Inicio
    </ion-button>

  </form>

</ion-content>
