ion-input{
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 0;
  }
  ion-button{
    margin: 10% 5%;
    height: 50px;
    text-transform: capitalize;
    font-family: RobotoMedium;
    --border-radius: 25px;
    --color: #6f7072;
    --border-width: 3px;
    --border-color: #544ea0;
    --background-activated: #544ea0;
    --color-activated: white;
  }
  .bg-image {
      --background: url('/assets/img/fondo1.jpg') no-repeat center fixed;
      background-size: cover;
    }
  .no-scroll .scroll-content {
      overflow: hidden;
    }
  .logo{
      max-width: 100%;
      padding: 10% 10% 5% 10%;
  }
  .title{
    font-family: RobotoMedium;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #6f7072;
  }
  .subtitle{
    font-family: RobotoMedium;
    font-size: 15px;
    text-align: left;
    color: #6f7072;
    margin: 0% 25%;
  }
  .decor{
    margin: 2% 15%;
    border-top: 2px solid #544ea0;
  }
  