<ion-content class="bg-image no-scroll" fullscreen="true">

	<ion-item lines="none">
		<img class="logo" src="/assets/img/icons/iconlogin.png">
	</ion-item>
	<ion-item lines="none">
		<ion-label class="title">BIENVENIDO</ion-label>
	</ion-item>

	<div>
		<ion-button fill="outline" expand="block" size="default" class="btn-home" [routerLink]="['/login']" >
			Iniciar Sesión
		</ion-button>
		<ion-button fill="outline" expand="block" size="default" class="btn-home2" [routerLink]="['/registrar']" >
			Registro
		</ion-button>
	</div>

</ion-content>